html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}

/* 清除浮动 */
.clearfix::before, .clearfix::after {
  display: table;
  content: "";
}

.clearfix::after {
  clear: both;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'SimSun', '宋体';
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select,
input {
  vertical-align: middle;
}

select,
input,
textarea {
  margin: 0;
}

input[type='text'],
input[type='password'],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

body {
  color: #333;
  /* padding: 5px 0; */
  /* font: 12px/20px 'PingFang SC', 'SimSun', '宋体', 'Arial Narrow', HELVETICA; */
}